@import '../../value.scss';

.pageWrapper {
  display: flex;
}

.leftPart {
  flex: 1;
  position: relative;
  color: #FFF;
  background: linear-gradient(135deg, #924FE7 0%, #5214E1 100%);

  .logo {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  span {
    display: block;
    font-weight: 700;
  }

  .title {
    font-size: 4vw;
  }

  .subTitle {
    font-size: .8vw;
  }

  @media screen and (max-width: $screen1) {
    display: none;
  }
}

.loginForm {
  margin: 150px 4vw 0;
  background: #fff;
  flex: unset;

  .logo {
    display: none;
  }

  .label {
    font-weight: 700;
  }

  .formInput {
    align-items: center;
    margin: 5px 0;
    input {
      flex: 1;
      width: 220px;
      background: #F9F9FA;
      padding: 8px 16px;
      border-radius: 12px;
      border-bottom: none;
    }
  }

  .loginBtn {
    padding: 8px 30px;
    border-radius: 8px;
    color: #FFF;
    background: #7842EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .auxilary {
    margin-top: 20px;
    span {
      display: inline-block;
    }
  }

  @media screen and (max-width: $screen1) {
    margin: 0 auto;
    .logo {
      display: block;
      margin: 100px auto 30px;
    }
  }
}