@import '../../value.scss';

.pageWrapper {
  padding: 10px 15px;
  box-sizing: border-box;
}

.logo4SmallScreen {
  display: none;
  @media screen and (max-width: $screen1) {
    display: block;
  }
}

.topSummaryRow {
  display: flex;
  padding: 10px 0;
  overflow-x: auto;
  > div {
    flex: unset;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    padding: 3px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(107, 107, 107, .1);
    .ball {
      margin-right: 6px;
      display: inline-block;
    }
    .title {
      font-weight: bold;
      font-style: italic;
      margin-right: 6px;
      &.unpaidTitle {
        width: max-content;
      }
    }
  }
  span {
    display: inline-block;
  }
}

.table {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .tableInfo {
    flex: unset;
    color: #464255;
    font-size: 18px;
    min-width: 80px;
    font-weight: 700;
  }
  .content {
    flex: 1;
    display: flex;
    height: 100%;
    font-size: 12px;

    .orderWrapper {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      margin-left: 10px;
      border-radius: 16px;
      > div {
        flex: unset;
      }
      .courseList {
        flex: 1;
      }
      .total {
        font-size: 16px;
        font-weight: bold;
        span {
          display: inline-block;
        }
      }
      .refundContent {
        span {
          display: inline-block;
        }
      }
      &:first-child {
        margin-left: unset;
      }
      &.refund {
        .total {
          .amount {
            text-decoration: line-through;
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen1) {
    display: initial;
    .tableInfo > div {
      display: inline-block;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.paid {
  background: var(--color-paid);
}

.confirmed {
  background: var(--color-confirmed);
}

.finished {
  background: var(--color-finished);
}

.canceled {
  background: var(--color-canceled);
}

.unpaid {
  background: var(--color-unpaid);
}

.ball {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.courseList {
  flex: 1;
  min-height: 60px;
  .course {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      margin-right: 5px;
    }
    .name {
      width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .tip {
      padding: 1px 3px;
      border-radius: 3px;
      background-color: #e4f4f5;
      color: #4fcfcf;
      font-size: 10px;
    }
  }
}

.modalContent {
  display: flex;
  justify-content: space-evenly;
  .right {
    margin-left: 5px;
  }

  .courseList{
    .course {
      span {
        font-weight: bold;
      }
      .name {
        width: 280px;
        line-height: 1;
        white-space: initial;
        margin-bottom: 6px;
      }
    }
  }
}

.connectionStatus {
  position: fixed;
  z-index: 5;
  right: 5%;
  bottom: 5%;

  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(107, 107, 107, .1);

  display: flex;
  align-items: center;
  span {
    display: inline-block;
  }
  &.connected {
    color: green;
  }
  &.closed {
    color: red;
  }
  &.connecting {
    color: yellow;
  }
  .label {
    margin-left: 5px;
  }
}